{%- if main_menu.links.size > 0 -%}
  {%- assign mega_nav_linklists = '' -%}

  {%- for block in section.blocks -%}
    {%- if block.type == 'mega_menu' -%}
      {%- assign mega_nav_handle = block.settings.navigation_mega_menu | handle -%}
      {%- assign mega_nav_linklists = mega_nav_linklists | append: mega_nav_handle | append: ',' -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign mega_nav_linklists = mega_nav_linklists | downcase -%}

  <nav class="header__main-nav {% if section.settings.logo_position == 'left' %}header__main-nav--stretched{% endif %}">
    <ul class="header__links list--unstyled">
      {%- for link in main_menu.links -%}
        {%- assign sub_linklist = linklists[link.handle] -%}

        {%- if sub_linklist.handle == blank or sub_linklist.links == 0 -%}
          {%- assign link_has_links = false -%}
        {%- else -%}
          {%- assign link_has_links = true -%}
        {%- endif -%}

        <li class="header__link {% if link_has_links %}header__link--need-extra-space{% endif %}" tabindex>
          <a href="{{ link.url }}" class="link">{{ link.title }} {% if link_has_links %}<i class="icon fa fa-angle-down"></i>{% endif %}</a>

          {%- if link_has_links -%}
            {%- assign downcase_link_handle = link.title | handle -%}

            {%- if mega_nav_linklists contains downcase_link_handle -%}
              <div class="mega-nav">
                {%- for sub_link in sub_linklist.links -%}
                  <a href="{{ sub_link.url }}" class="mega-nav__item">
                    {%- assign mega_nav_image = '' -%}

                    {%- case sub_link.type -%}
                      {%- when 'collection_link' -%}
                        {%- assign mega_nav_image = sub_link.object.image | default: sub_link.object.products.first.featured_image %}
                      {%- when 'product_link' -%}
                        {%- assign mega_nav_image = sub_link.object.featured_image -%}
                    {%- endcase -%}

                    {%- if mega_nav_image != blank -%}
                      <img src="{{ mega_nav_image | img_url: '150x150', scale: 2, crop: 'center' }}" alt="{{ mega_nav_image.alt | escape }}" class="mega-nav__image">
                    {%- endif -%}

                    <span class="mega-nav__title">{{ sub_link.title }}</span>
                  </a>
                {%- endfor -%}
              </div>
            {%- else -%}
              <div class="nav-dropdown nav-dropdown--first">
                {%- for sub_link in sub_linklist.links -%}
                  <div class="nav-dropdown__item">
                    {%- assign sub_sub_linklist = linklists[sub_link.handle] -%}

                    {%- if sub_sub_linklist.handle == blank or sub_sub_linklist.links == 0 -%}
                      {%- assign sub_link_has_links = false -%}
                    {%- else -%}
                      {%- assign sub_link_has_links = true -%}
                    {%- endif -%}

                    <a href="{{ sub_link.url }}" class="nav-dropdown__link">{{- sub_link.title -}} {% if sub_link_has_links %}{% include 'icon' with 'next' %}{% endif %}</a>

                    {%- if sub_link_has_links -%}
                      <div class="nav-dropdown nav-dropdown--second">
                        {%- for sub_sub_link in sub_sub_linklist.links -%}
                          <div class="nav-dropdown__item">
                            <a href="{{ sub_sub_link.url }}" class="nav-dropdown__link link">{{ sub_sub_link.title }}</a>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}