{%- if section.settings.banner_background  -%}
  {% capture bannerbg %}
  background:url({{ section.settings.banner_background | img_url:'1600x900' }}); background-size:cover;
  {% endcapture %}
{%- else -%}
{% capture bannerbg %}
  background: #054f29;
  {% endcapture %}
{%- endif -%}

<div id="{{ section.id }}" class="page__content-wrapper hero-section" style="{{ bannerbg }}">
  <div class="container">
    <div class="page__header">
      {%- if section.settings.banner_icon  -%}<div class="banner_icon"><img src="{{ section.settings.banner_icon | img_url: '160x160' }}" alt="about icon"></div>{%- endif -%}
      <h1 class="page__title h1">{{ page.title }}</h1>
      <p class="faq-cta-text">{{ section.settings.text_banner_cta }}</p>
    </div>
  </div>
</div>

{% schema %}
{
	"name" : "About Us Banner",
	"class" : "shopify-section_about-us-banner",
	"settings" : [
		{
			"id": "banner_title",
			"type": "text",
			"label": "Manuals Title"
		},
    {
        "type": "image_picker",
        "id": "banner_background",
        "label": "Banner Background"
    },
    {
        "type": "image_picker",
        "id": "banner_icon",
        "label": "Banner Icon"
    },
    {
      "id": "text_banner_cta",
      "type": "text",
      "label": "Banner CTA"
    }
	]
}
{% endschema %}