<div id="{{ section.id }}" class="call-to-action-text-section" style="background:url({{ section.settings.background_image | img_url:'1600x900' }}); background-size:cover;">
<div class="container">
  <div class="grid grid--large grid--center">
    <div class="grid__cell 7/10--handheld-and-up">
      <h4>{{ section.settings.content_text }} <a href="mailto:{{section.settings.email}}">{{section.settings.email}}</a></h4>
    </div>
  </div>
</div>
</div>


{% schema %}
{
	"name" : "CTA Text Banner",
	"class" : "shopify-section_cta_text_banner",
	"settings" : [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background"
    },
    {
			"id": "content_text",
			"type": "text",
			"label": "CTA text"
		},
    {
			"id": "email",
			"type": "text",
			"label": "Email"
		}
	]
}
{% endschema %}