{%- if section.settings.page_bgimg2  -%}
  {% capture bannerbg %}
  background:url({{ section.settings.page_bgimg2 | img_url:'1600x900' }}); background-size:cover;
  {% endcapture %}
{%- else -%}
{% capture bannerbg %}
  background: #054f29;
  {% endcapture %}
{%- endif -%}

<div id="{{ section.id }}" class="page__content-wrapper hero-section" style="{{ bannerbg }}">
  <div class="container">
    <div class="page__header">
      {%- if section.settings.page_bgicon -%}<div class="banner_icon"><img src="{{ section.settings.page_bgicon | img_url: '160x160' }}" alt="Events icon"></div>{%- endif -%}
      <h1 class="page__title h1">{{ section.settings.text_heading_one }}</h1>
      <p class="faq-cta-text">{{ section.settings.text_banner_cta }}</p>
    </div>
  </div>
</div>

{% schema %}
{
    "name" : "Users Guide Banner",
    "class" : "shopify-section_guidebanner",
    "settings" : [
        {
          "id": "page_bgimg2",
          "type": "image_picker",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "page_bgicon",
          "label": "Banner Icon"
        },
        {
          "id": "text_heading_one",
          "type": "text",
          "label": "Banner Title"
        },
        {
          "id": "text_heading_two",
          "type": "text",
          "label": "Banner Subtitle"
        },
        {
          "id": "text_banner_cta",
          "type": "text",
          "label": "Banner CTA"
        }
    ]
}
{% endschema %}